#form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 300px;
  position: absolute;
}

@keyframes fade-left {
  0% {
    opacity: 1;
    left: calc(100% - 348px);
  }
  50% {
    opacity: 0;
    left: calc(100% - 348px);
  }
  51% {
    opacity: 0;
    left: 16px;
  }
  100% {
    opacity: 1;
    left: 16px;
  }
}

#form.right {
  left: calc(100% - 348px);
}

#form.left {
  animation-name: fade-left;
  animation-duration: 0.6s;
  /* left: 16px; */
}

.invisible {
  opacity: 0;
}

#form h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

#form .warning-box {
  background: #ffffff;
  border: 2px solid #8477c9;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px #e7e7ff;
  border-radius: 5px;
  height: 39px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.warning-box p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #8477c9;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label,
p {
  font-family: Lato;
}

label {
  margin-bottom: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

select {
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  height: 40px;
  padding: 11px 17px 12px 13.73px;
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

select[disabled] {
  background-color: #e4e4e4;
  border: 0;
}

.amount-input {
  height: 40px;
  padding: 11px 17px 12px 13.73px;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.amount-input input[type='text'] {
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  margin-left: 8.82px;
}

.amount-input.disabled {
  background-color: #e4e4e4;
  border: 0;
  color: #848484;
}

.amount-input input[type='text'][disabled] {
  background-color: #e4e4e4;
}

input[type='submit'] {
  height: 43px;
  margin-top: 16px;
  background: #8477c9;
  box-shadow: 0px 4px 8px #e7e7ff;
  border-radius: 5px;
  border: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

a {
  margin-top: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #8477c9;
}
