@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
}

h1,
h2,
h5 {
  font-family: Lato;
}

html,
body,
#root {
  width: 764px;
  height: 512px;
  border: 1px solid #e7e7ff;
  /* height: 100%; */
}

.container {
  display: flex;
  flex-direction: row;
  padding: 32px 32px;
  width: 100%;
  height: calc(100% - 64px);
}

#left-title {
  background: #8477c9;
  box-shadow: 0px 4px 4px #e7e7ff;
  border-radius: 5px;
  height: 100%;
  display: flex;
  width: 320px;
  margin-right: 48px;
}

#left-title .text-container {
  margin: 128px 10px 0 46px;
  color: white;
}

#left-title h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

#left-title h5 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
